.popup {
    background-color: #cad1ea;
    width: 35%;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    height: fit-content;
    position: fixed;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
  
  .closeBtn {
    color: blue;
    font-size: 1.5rem;
    right: 0;
    position: absolute;
  }
  
  @media screen and (max-width: 770px) {
    .popup {
      width: 90%;
    }
  }