.login {
    color: #020d14;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 90%;
    height: 90%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    justify-content: space-around;
  }
  
  .login form input {
    width: 100%;
    outline: none;
    margin: 0 auto;
    border-bottom: 1px solid #020d14;
  }
  
  .login form button {
    margin-top: 40px;
    text-align: center;
    padding: 5px 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #fff;
    background-color: black;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 2px;
  }
  
  .login h1 {
    color: #04543e;
    text-align: center;
  }
  
  .login form button:hover {
    background-color: #fff;
    color: black;
  }
  