.wallet {
  margin: 5% 15%;
  line-height: 2;
  font-size: 20px;
}

.walletname {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #020d14;
  padding-bottom: 70px;
}

select {
  width: 8vw;
  color: #fff;
  background-color: black;
  border-radius: 10px;
  border: none;
}

.optionIterms:hover {
  background-color: black;
}

.selectCurrency {
  width: 90px;
}

.depositBtn {
  align-content: center;
  justify-content: center;
  margin: auto 0;
  background-color: black;
  color: #fff;
  padding: 4px 40px;
  text-transform: capitalize;
  border-radius: 10px;
}




.funds {
  /* flex-direction: column;
  justify-content: end;
  text-align: left; */
  /* background-color: red; */
}



.balance {
  font-weight: bold;
  margin: auto 0;
}

.cards {
  /* line-height: 3; */
}


/* .funds button {
  align-content: center;
  justify-content: center;
  margin-left: 40px;
  background-color: black;
  color: #fff;
  padding: 0 15px;
  text-transform: capitalize;
} */


@media screen and (max-width: 770px) {
  .wallet {
    height: 100vh;
  }

  .walletCards {
    padding: 2px;
    width: 100%;
  }

  /* .funds button {} */

  .coin {
    font-size: 80px;
  }

  select {
    height: 30px;
    width: 100%;
  }
}