.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #020d14;
    padding: 5px;
    height: 5rem;
  }
  
  select {
    height: 30px;
    width: 8vw;
    color: #fff;
    background-color: #04543e;
    margin: auto 0;
    outline: none;
    border: none;
  }
  
  .optionIterms:hover {
    background-color: #04543f86;
  }
  
  option {
    width: 25px;
    /* border: none; */
  }
  
  .selectCurrency {
    height: 30px;
  
    margin: auto 0;
  }
  
  .depositeBtn {
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
    height: 30px;
    margin: auto 0;
    background-color: #04543e;
    color: #fff;
    padding: 4px 8px;
    text-transform: uppercase;
  }
  
  .wallet {
    /* background-color: #ffffff1e; */
    /* height: 80vh; */
    margin: 5% 15%;
    /* padding: 10px; */
    /* border-radius: 5px; */
    text-transform: uppercase;
  }
  
  .wallet h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .wallet h2 span {
    color: #04543e;
    font-weight: 500;
  }
  
  .cards h3 {
    margin: 6px 0;
    text-align: end;
  }
  
  .funds {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
  }
  
  .funds button {
    width: 100px;
    margin: auto;
    left: 0;
  }
  
  .balance {
    font-size: 20px;
    font-weight: bold;
    margin: auto 0;
  }
  
  .walletCards {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    width: fit-content;
    padding: 10px;
  }
  
  .cards {
    display: flex;
    /* width: 100px; */
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .coin {
    font-size: 6rem;
  }
  
  .funds {
    padding: 5px;
  }
  
  .funds button {
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
    height: 30px;
    margin-top: auto;
    margin-left: 40px;
    background-color: #04543e;
    color: #fff;
    padding: 4px 8px;
    text-transform: uppercase;
  }
  
  .balance {
    font-size: 15px;
    color: #04543e;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 8px;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 770px) {
    .wallet {
      height: 100vh;
    }
  
    .walletCards {
      padding: 2px;
      width: 100%;
    }
  
    .funds button {
    }
  
    .coin {
      /* display: none; */
      font-size: 80px;
    }
  
    select {
      height: 30px;
      width: 100%;
    }
  }